@page "/calendar"
@attribute [Authorize]

@if (_loading)
{
    <div class="card col-lg-6 col-sm-8 col-xs-8" style="margin-right: auto; margin-left: auto">
        <div class="card-body">            
            <EditForm Model="finder" OnValidSubmit="OnSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="userName">Nazwa zajęć</label>
                    </div>
                    <div>
                        <InputText Id="userName" class="col-8" @bind-Value="finder.Name" />
                        <button type="submit" class="col-2 text-center  btn btn-success" style="margin-left: 5px"><i class="oi oi-magnifying-glass"></i></button>
                    </div>
                </div>
            </EditForm>
            <div class="form-group">
                <div class="col-12">
                    <label class="col-2" style="float: left">Nazwa</label>
                    <label class="col-2" style="float: left">Dzień</label>
                    <label class="col-2" style="float: left">Start</label>
                    <label class="col-2" style="float: left">Koniec</label>
                    <label class="col-4" style="float: left">Z kim</label>
                </div>
            </div>
            @if (Activities.Count() > 0)
            {
                @foreach (var activity in Activities)
                {
                    <div class="col12">
                        <label class="col-2" style="float: left">@activity.Name</label>
                        <label class="col-2" style="float: left">@activity.DayOfWeek</label>
                        <label class="col-2" style="float: left">@activity.StartTime</label>
                        <label class="col-2" style="float: left">@activity.EndTime</label>
                        @if (roleString == "tutor")
                        {
                            <label class="col-2" style="float: left">@activity.UserName</label>
                            <button type="submit" class="text-center col-1 btn btn-success" style="float: left" @onclick="@( () => NavigateToEditActivity(activity.Id) )"><i class="oi oi-pencil"></i></button>
                            <button type="danger" class="text-center col-1 btn btn-danger" style="float: left" @onclick="@( () => Delete(activity.Id) )"><i class="oi oi-trash"></i></button>
                        }
                        else
                        {
                            <label class="col-4" style="float: left">@activity.UserName</label>                            
                        }
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <h4>Loading...</h4>
}