@page "/calendar"
@attribute [Authorize]

@if (_loading)
{
    <div class="card col-lg-10 col-xl-8" style="margin-right: auto; margin-left: auto">
        <div class="card-body">
            <EditForm Model="finder" OnValidSubmit="OnSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label class="activityName">Nazwa zajęć</label>
                    </div>
                    <div>
                        <InputText Id="userName" class="col-8" @bind-Value="finder.Name" />
                        <button type="submit" class="col-2 text-center  btn btn-success" style="margin-left: 5px"><i class="oi oi-magnifying-glass"></i></button>
                    </div>
                </div>
            </EditForm>
            <div class="form-group">
                <div class="col-12">
                    <label class="textt col-2">Nazwa</label>
                    <label class="textt col-2">Dzień</label>
                    <label class="textt col-2">Start</label>
                    <label class="textt col-2">Koniec</label>
                    <label class="textt col-4">Z kim</label>
                </div>
            </div>
            @if (Activities.Count() > 0)
            {
                @foreach (var activity in Activities)
                {
                    <div class="col12">
                        <label class="textt col-2">@activity.Name</label>
                        <label class="textt col-2">@activity.DayOfWeek</label>
                        <label class="textt col-2">@activity.StartTime</label>
                        <label class="textt col-2">@activity.EndTime</label>
                        @if (roleString == "tutor")
                        {
                            <label class="textt col-2">@activity.UserName</label>
                            <button type="danger" class="text-center col-1 btn btn-danger" style="float: right" @onclick="@( () => Delete(activity.Id) )"><i class="oi oi-trash"></i></button>
                            <button type="submit" class="text-center col-1 btn btn-success" style="float: right" @onclick="@( () => NavigateToEditActivity(activity.Id) )"><i class="oi oi-pencil"></i></button>
                        }
                        else
                        {
                            <label class="textt col-4">@activity.UserName</label>
                        }
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <h4>Loading...</h4>
}

<style type="text/css">   

    .textt {
        float: left;
        font-size: medium;
    }
</style>

<style type="text/css" media="screen and (max-width:450px)">   

    .textt {
        font-size: small
    }
</style>