@page "/materials/{MaterialGroupId:int}"
@attribute [Authorize]

@if (isLoading)
{
    if (materialViewModelsTypeNotes.Count > 0)
    {
        <div class="card col-xl-4 col-lg-6 col-sm-8" style="margin-right: auto; margin-left: auto">
            <div class="card-body">
                <h5 class="card-title">Notatki</h5>
                @foreach (var material in materialViewModelsTypeNotes)
                {
                    <div class="file">
                        <div>
                            <a class="aalink" href=@material.Url>
                                <span class="sideoi oi oi-file" aria-hidden="true"></span> @material.Name
                            </a>
                        </div>
                        <div>
                            <a>
                                <span class="description">Opis: </span> @material.Description
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    if (materialViewModelsTypeHomework.Count > 0)
    {
        <div class="card col-xl-4 col-lg-6 col-sm-8" style="margin-right: auto; margin-left: auto">
            <div class="card-body">
                <h5 class="card-title">Zadania</h5>
                @foreach (var material in materialViewModelsTypeHomework)
                {
                    <div class="file">
                        <div>
                            <a class="aalink" href=@material.Url>
                                <span class="sideoi oi oi-file" aria-hidden="true"></span> @material.Name
                            </a>
                        </div>
                        <div>
                            <a>
                                <span class="description">Opis: </span> @material.Description
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    if (materialViewModelsTypeTest.Count > 0)
    {
        <div class="card col-xl-4 col-lg-6 col-sm-8" style="margin-right: auto; margin-left: auto">
            <div class="card-body">
                <h5 class="card-title">Sprawdziany</h5>
                @foreach (var material in materialViewModelsTypeTest)
                {
                    <div class="file">
                        <div>
                            <a class="aalink" href=@material.Url>
                                <span class="sideoi oi oi-file" aria-hidden="true"></span> @material.Name
                            </a>
                        </div>
                        <div>
                            <a>
                                <span class="description">Opis: </span> @material.Description
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <h4>Loading...</h4>
}